# files that are either too large or annoying or not ready to share
kallisto_mappings/
mapping/
.DS_Store
analysis/*cache/
*/*html
.Rproj.user
analysis/*.RData
results/*.RData
analysis/*files
docs/SICB2020_files/*
db-export/musicalgenes.sql
.snakemake
