# files that are either too large or annoying or not ready to share
kallisto_mappings/
mapping/
.DS_Store
analysis/*cache/
*/*html
.Rproj.user
results/01_pseudo.counts.csv
analysis/*.RData
results/*.RData
analysis/*files
docs/manuscript_draft_cache/*
docs/manuscript_draft_cache*
docs/manuscript_draft_cache/*/*
docs/manuscript_draft_cache/*/*/*
docs/manuscript_draft_cache/latex/*
